body{
    background-color: pink;
}

header{
    background-color:rgb(90, 152, 251);
    border: 5px solid black;
    font-size: 75px;
}

h1,
h3,
h2{
    font-family: Trebuchet MS, sans-serif;
    font-weight: 300;
    font-style:italic
}

button:hover,
    button:focus {
      outline: none;
      background: rgb(90, 152, 251);
      color: #fff;
    }

#complete{
    background-color: black;
}

#notComplete{
    background-color: white;
}